<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Ninja</h1>
    <form action="/dojos/create_ninja" method="post">
        <p>Dojo:
            <select name="dojo_id" id="">
                {%for dojo in all_dojos%}
                <option value="{{dojo.id}}">{{dojo.name}}</option> 
                {%endfor%}
            </select>
        </p>
        <p>First Name: <input type="text" name="first_name" id=""></p>
        <p>Last Name: <input type="text" name="last_name" id=""></p>
        <p>Age: <input type="text" name="age" id=""></p>
        <button type="submit">Create</button>
    </form>
    <a href="/dojos">Home</a>
</body>
</html>