<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <H1>Add a New User</H1> 
        <form action="/users/{{user['id']}}/update" method ="POST">
            <p>First Name: <input type="text" name="first_name" id="" value="{{user['first_name']}}"></p>
            <p>Last Name: <input type="text" name="last_name" id="" value="{{user['last_name']}}"></p>
            <p>Email: <input type="text" name="email" id="" value="{{user['email']}}"></p>
            <p>
                <input type="submit" value = "Update">
                <a href="/users/{{user['id']}}">Show User</a>
            </p>
        </form>
        <a href="/users">Cancel</a>
</body>
</html>