<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
</head>
<body>
    <table>
            <tr class="container">
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
            </tr>
            <tr class="container">
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
            </tr>
            <tr class="container">
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
            </tr>
            <tr class="container">
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
            </tr>
            <tr class="container">
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
            </tr>
            <tr class="container">
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
            </tr>
            <tr class="container">
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
            </tr>
            <tr class="container">
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
                <td class="color2"></td>
                <td class="color1"></td>
            </tr>
    </table>
</body>
</html>